.today-weather {
  max-width: 800px;
  margin: 0 auto;
}

.paper-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}

.weather-info {
  margin-bottom: 10px;
  font-size: 16px;
}

.weather-image {
  max-width: 50%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.loading-text,
.error-text {
  margin-top: 20px;
  font-size: 18px;
  color: #ff0000;
}

.search-bar {
  margin-bottom: 20px;
}
